{% extends 'layout.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 d-flex justify-content-end">
            <textarea class="textarea" cols="78" rows="15" readonly>{{ dataJSON }}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 d-flex justify-content-between">
            <div class="d-flex justify-content-start">
                <a href="/{{ link }}" download><button class="btn" ><i class="fas fa-cloud-download-alt"></i> Скачать</button></a>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn" onclick="saveJSON();"><i class="fas fa-save"></i> Сохранить</button>
                <button class="btn" onclick="editJSON();"><i class="fas fa-edit"></i> Редактировать</button>
            </div>
        </div>
        <div class="linkEntry"></div>
    </div>
</div>

{% endblock %}
