{% extends 'layout.twig' %}

{% block body %}

<div class="container entryJSON">
    <div class="col-lg-8 d-flex justify-content-end">
        <textarea class="textarea" cols="76" rows="20" readonly>{{ dataJSON }}</textarea>
    </div>
    <div class="col-lg-8 d-flex justify-content-end">
        <button class="btn" onclick="saveJSON();">Сохранить</button>
        <button class="btn" onclick="editJSON();">Редактировать</button>
    </div>
    <div class="linkEntry"></div>
</div>

{% endblock %}
