{% extends 'layout.twig' %}

{% block body %}

   <div class="container">
       <div class="row">
           <div class="col-lg-2"></div>
           <div class="col-lg-8 d-flex justify-content-end textareaEntry">
               <div>
                   <span class="errorMessage"></span>
                   <input type="text" placeholder="Название файла" class="fileName__input">
                   <textarea class="textarea" cols="78" rows="15"></textarea>
               </div>
           </div>
           <div class="col-lg-2 AllJsonEntry"></div>
       </div>

       <div class="row">
           <div class="col-lg-2"></div>
           <div class="col-lg-8 d-flex justify-content-between">
               <div class="d-flex justify-content-start">
                   <label class="btn btn__file"><span class="fileName__label">Выберите файл...</span>
                    <input type="file" class="inputFile"  accept=".json" hidden>
                   </label>
                   <button class="btn" onclick="uploadFile();"><i class="fas fa-cloud-upload-alt"></i> Загрузить</button>
               </div>
               
               <div class="d-flex justify-content-end">
                   <button class="btn" onclick="convertToXml();"><i class="fas fa-code"></i> xml</button>
                   <button class="btn" onclick="saveJSON('');"><i class="fas fa-save"></i> Сохранить</button>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-5"></div>
           <div class="col-lg-3">
               <input class="checkbox" type="checkbox" id="checkbox">
               <label for="checkbox">Удалить после открытия</label>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-12 linkEntry"></div>
       </div>
   </div>

{% endblock %}
