{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h1 class="title">Не для тебя сохранен этот файл</h1>
                <img src="../../images/notforyou.gif" width="720px" height="404px" alt="Не для тебя гиф">
            </div>
        </div>
    </div>
{% endblock %}