@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.text{
  font: 14px 'Open sans';
}

label{
  margin: 0 0 11px 0 !important;
}

.logo{
  background-image: url("../images/logo.png");
  width: 77px;
  height: 40px;
}

.navbar{
  background-color: #fff;
  border: none;
  padding: 0 !important;
  margin: 0 0 100px 0;
}

.nav-link{
  font: 18px 'Open Sans' !important;
  color: #434a54 !important;
  opacity: 1 !important;
}

.btn{
  border: 2px solid #F38A00 !important;
  background-color: #ff9600 !important;
  border-radius: 3px !important;
  color: #fff;
  height: 40px;
  font-size: 14px !important;
  margin: 0 0 0 7px;
}

.btn__file{
  background-color: #fff !important;
  color: #ff9600;
}

.fileName__input{
  width: 300px;
}

.privateCheck, .deleteCheck {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.privateCheck + label, .deleteCheck + label {
  position: relative;
  padding: 0 0 0 50px;
  cursor: pointer;
}
.privateCheck + label:before, .deleteCheck + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 40px;
  height: 21px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  transition: .2s;
}
.privateCheck + label:after, .deleteCheck + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
}
.privateCheck:checked + label:before, .deleteCheck:checked + label:before {
  background: #ff9600;
}
.privateCheck:checked + label:after, .deleteCheck:checked + label:after {
  left: 21px;
}
.privateCheck:focus + label:before, .deleteCheck:focus + label:before {
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(243, 138, 0, 0.7);
}

.errorMessage{
  font: 14px 'Open sans';
  color: #FF0000;
}

.title{
  font: 20px 'Open Sans';
  text-align: center;
}

